<div class="m-4">
<img src='<%=@user.photo%>'>
<h2><b>name: </b><%=@user.name%></h2>
<p><b>bio: </b><%=@user.bio%></p>
<p>Number of posts<span><%=@user.post_counter%></span></p>
</div>
<div class="m-4">
<%@user.recent_three_posts.each do |post|%>
<a href="<%=@user.id%>/posts/<%=post.id%>"><h3><%= post.title%></h3></a>
<p><%=post.text%></p>
<%end%>
<a href="<%=@user.id%>/posts">See all posts</a>
</div>