<div class="card-body d-flex flex-column p-1">
<h2 class="card-title m-4"><%=post.title%></h2>
   <p class="card-text ms-4"><%=post.text%></p>
   <% if user_signed_in? && post.author_id == current_user.id %>
      <%= link_to "Delete", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } , style: "max-width: 46vw; margin-left: auto; margin-right: 1vw",class:"btn btn-outline-danger" %>
    <% else %>
       <a href='/users/<%= post.author_id %>' style="max-width: 46vw; margin-left: auto; margin-right: 1vw" class="badge text-decoration-none mb-1 bg-success">
        By <%= post.author.name %>
      </a>
   <% end %>
    <div class="card-text d-flex flex-row gap-3">
    <span class="text ml-1 mt-auto mb-0"> <small><%= post.likes_counter %></small>
    <%= link_to user_post_path(post.author_id, post.id), class: "text-decoration-none text-reset" do %>
      <small class="ml-1">
        Likes
      </small>
    <% end %>
    </span>
    <span class="text mt-auto mb-0"> <small> <%= post.comments_counter %></small>
        <%= link_to user_post_path(post.author_id, post.id), class: "text-decoration-none text-reset" do %>
          <small class="ml-1">
            Comments
          </small>
        <% end %>
    </span>
    </div>
    <% if current_page?("/users/#{post.author_id}/posts/#{post.id}") %>
        <% post.comments.includes([:author]).each do |comment| %>
          <%= link_to user_path(comment.author_id), class: "navbar-brand p-0 m-lg-2 m-sm-1" do %>
          <div class=" card d-flex flex-lg-row flex-sm-column g-0">
            <div class="card-body p-1">
              <div class="card-title d-flex flex-column flex-lg-row">
              <img style="width: 10vw; scale: 1/1" class="card-img-top img-thumbnail rounded-circle col-sm-1 col-lg-1 p-1" src='<%= comment.author.photo %>' alt="Title">       
                <div>
                <h5 style="white-space: normal" class="fs-sm-4 mt-3"><%= comment.author.name %></h5>
                <p style="white-space: normal" class="card-text fs-sm-6 flex-shrink-1"><%= comment.text %></p>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between">
                <small class="text-secondary"><%= time_ago_in_words(comment.created_at) %> ago</small>
                <% if user_signed_in? && comment.author_id == current_user.id %>
                  <%= link_to "Delete", user_post_comment_path(id: comment.id, post_id: post.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } , style: "max-width: 46vw; margin-left: auto; margin-right: 1vw",class:"text-danger" %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      <% else %>
      <% post.recent_five_comments.includes([:author]).each do |comment| %>
        <%= link_to user_path(comment.author_id), class: "navbar-brand p-0 m-lg-2 m-sm-1" do %>
        <div class=" card d-flex flex-lg-row flex-sm-column g-0">
          <div class="card-body p-1">
            <div class="card-title d-flex flex-column flex-lg-row">
          <img style="width: 10vw; scale: 1/1" class="card-img-top img-thumbnail rounded-circle col-sm-1 col-lg-1 p-1" src='<%= comment.author.photo %>' alt="Title">
              <div>
              <h5 style="white-space: normal" class="fs-sm-4 mt-3"><%= comment.author.name %></h5>
              <p style="white-space: normal" class="card-text fs-sm-6 flex-shrink-1"><%= comment.text %></p>
              </div>
            </div>
            <div>
              <small class="text-secondary"><%= time_ago_in_words(comment.created_at) %> ago</small>
            </div>
          </div>
        </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
